@import "settings";
$progress-bar-height: rem-calc(30);
@import "foundation/components/grid","foundation/components/offcanvas";
html,body{width:100%}
html,body, .wrapper{overflow-x:hidden;}
//Text
.text-center{text-align:center;}
.text-right{text-align:right;}


@font-face {
    font-family: Lane;
    src: url(../fonts/Lane/LANENAR_.ttf);
}

h1,h2,h3,h4,h5{
	font-family: Lane;
	padding:15px;
	margin:0px;
}


p {line-height: 1.5em;letter-spacing: 1px;padding:0 15px 0 15px}
a{
	color:#27aae1;text-decoration:none;
	&:hover{
		text-decoration:underline;
	}

}
span#label{font-family:light;font-style:italic;position:absolute;right:5px;top:0px;color:grey}

//Custom Css
header{

}

nav{
	max-width:750px;
	width:100%;
	margin: 10px auto 0 auto;
	font-size:28px;
	a{color:black;padding:0 15px 0 0}
	span{padding-right:5px;}
}
.active{color:#0078A0;text-decoration:underline}
article{
	max-width:960px;
	margin: 0 auto;
}

#left-menu{
	width:200px;
	height:100%;
	background:#27aae1;
	position:fixed;
	z-index:999;
	box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
}

#container{
	overflow:hidden;
	height:100%;
	width:20000px;


	section{
	background:white;
	float:left;
	padding:15px;
	overflow:auto;
	display:block;
	}
}

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}

.next{
	position:fixed;
	top:50%;
	right:0px;
	z-index:9999;

	img{
		opacity:0.2;
		-webkit-transition: All 0.5s ease;
		-moz-transition: All 0.5s ease;
		-o-transition: All 0.5s ease;
		-ms-transition: All 0.5s ease;
		transition: All 0.5s ease;
	}
	&:hover img{
		opacity:1;
	}
}

.prev{
	position:fixed;
	top:50%;
	left:0px;
	z-index:9999;

	img{
		opacity:0.2;
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
		-webkit-transition: All 0.5s ease;
		-moz-transition: All 0.5s ease;
		-o-transition: All 0.5s ease;
		-ms-transition: All 0.5s ease;
		transition: All 0.5s ease;
	}
	&:hover img{
		opacity:1;
	}
}
	
a.menu-icon {
background:black;
position:absolute;
}

//forms
form {
	input{
		width:100%;
		height:50px;
		font-size:22px;
		padding:15px;
		border: 5px solid #D3D3D3;
	}
	textarea{
		width:100%;
		max-width:100%;
		padding:15px;
		margin:10px 0 0 0;
		min-height:300px;
		font-size:22px;
		border: 5px solid #D3D3D3;
	}
	button{
		width:100px;
		height:50px;
		border:5px solid lightgrey;
		text-align:center;
		font-size:22px;
		margin:10px 0 0 15px;
		background: #27AAE1;
		color: #FFF;
		cursor:pointer;

		&:hover{
			opacity:0.9;
			-webkit-transition: All 0.5s ease;
			-moz-transition: All 0.5s ease;
			-o-transition: All 0.5s ease;
			-ms-transition: All 0.5s ease;
			transition: All 0.5s ease;
		}
	}
}

//Page0
.meWrap{width:200px;margin:0 auto;border-radius:50%;background:#27aae1;}
.me{border-radius:50%;opacity:0.6;border: 4px dashed #FFF;}
p.about{height:209px;display:table-cell;vertical-align:middle;}



//Page1
#page1 .large-12{padding-bottom:10px}

//Page3
#page3 h2{padding:0px}

